container_commands:
  00_setvars:
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
#  02_collectstatic:
#    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: dogsitter.settings
#    RDS_DB_NAME: ebdb
#    RDS_HOSTNAME: awseb-e-yhsnmghw9c-stack-awsebrdsdatabase-ea5latqtrbj3.cf8wogqeheih.us-east-1.rds.amazonaws.com
#    RDS_PASSWORD: abcdefgh
#    RDS_PORT: 5432
#    RDS_USERNAME: dogsitter
#    RDS_PASSWORD: abcdefgh