{% extends 'base.html' %}

{% block title %}
    Meet {{dog.name}}!
{% endblock %}

{% block extra_css %}

.profile_pic {
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
{% endblock %}

{% block content %}

<img class="profile_pic" src="{{ dog.image.url }}">
<h4>Hi my name is {{dog.name}}</h4>
<h4> Weight: {{dog.weight}} pounds</h4>

{% if dog.good_with_cats %}
    <p>I am good with cats</p>
{% else %}
    <p>I am not good with cats</p>
{% endif %}
{% if dog.good_with_kids %}
    <p>I am good with kids</p>
{% else %}
    <p>I am not so great with kids</p>
{% endif %}
{% if dog.good_with_dogs %}
 <p>I am good with dogs</p>
{% else %}
    <p>I am not good with dogs</p>
{% endif %}

<h4> A little about me: {{dog.bio}} </h4>

<h3> Age: {{dog.age}} old </h3>

<h2> Breed: {{dog.breed}} </h2>

 <p> Add photos to your photo gallery <a href="{% url 'add_dog_images' dog.pk %}">here</a></p>

    {% if dog.doggalleryimage_set.exists %}
        <p> View more pictures: </p>
        <a href="{% url 'view_dog_gallery' dog.pk %}">
            <img class="img-thumbnail gallery_image" alt="View Gallery" src= "{{ dog.doggalleryimage_set.first.image.url }}">
        </a>
    {% endif %}



<button> <a href="{% url 'edit_dog' dog.pk %}"> Edit Profile</button></a>

<p> Back to <a href = "{% url 'profile_page' dog.user.profile.pk %}">profile</a> </p>
{% endblock %}