{% extends 'base.html' %}

{%block title%}
   Home
{% endblock %}

{% block extra_css %}

{% load static %}
     .hero-image {
        background-image: url("{% static '/dogsitter/dogbed.jpg' %}");
    }
{% endblock %}

{% block content_nocontainer %}

<div class="hero-image">
    <div class="hero-text">
        <h1 id="title"> Daily or weekly Dogsitters in your area</h1>
        <p id="tagline"> Someone to take care of your pets as if they were their own</p>
        <button class="search-button"><a href = "{% url 'search' %}"> Search Now </a></button>
    </div>
</div>

{% endblock %}