{% extends 'base.html' %}

{%block title%}
    Profile Page
{% endblock %}

{%block content_nocontainer %}

<div class="profile-page">
        <img class="profile_pic" src="{{ user.profile.image.url }}" alt="Profile Picture">
        <div class = "profile-name">
            <h1 class="name">{{user.first_name}} {{user.last_name}}</h1>
        </div>
    <div class="profile-info">
            <h4> Location: {{profile.location}} </h4>
            <h4>Rate: {{profile.cost}} per day</h4>
            {% if user.profile.is_dog_sitter %}
                <h4> I am a dog sitter!</h4>
            {% endif %}
            <h4>I am looking for a dog sitter</h4>
            <h4> A little about me: </h4>
            <p>{{user.profile.bio}}</p>
    </div>
        </div>
</div>

{% if user.dog_set.exists %}
<div class="dog-section">
    <div>
    <h1>My Dogs: </h1>
    {% for dog in user.dog_set.all %}
    <div class="user-dogs">
    <ul><a href="{% url 'dog_profile' dog.pk %}"> {{dog}} </a> </ul>
    {% endfor %}
    {% endif %}
                </div>
</div>

{%for dog in user.dog_set.all %}
    {% if dog.is_birthday_today %}
    <h3> Happy Birthday {{dog}} </h3>
{% endif %}
{% endfor %}

    <p> Add photos to your photo gallery <a href="{% url 'add_images' %}">here</a></p>
    {% if user.galleryimage_set.exists %}
        <p> View more pictures: </p>
        <a href="{% url 'view_gallery' %}">
            <img class="img-thumbnail gallery_image" alt="View Gallery" src= "{{ user.galleryimage_set.first.image.url }}">
        </a>
    {% endif %}

{% endblock %}
