{% extends 'base.html' %}

{%block title%}
    Profile Page
{% endblock %}

{%block content_nocontainer %}

<div class="profile-page">
        <img class="profile_pic" src="{{ user.profile.image.url }}" alt="Profile Picture">
        <div class = "profile-name">
            <h1 class="name">{{user.first_name}} {{user.last_name}}</h1>
        </div>
    <div class="profile-info">
            <h4> Location: {{profile.location}} </h4>
            <h4>Rate: {{profile.cost}} per day</h4>
            {% if user.profile.is_dog_sitter %}
                <h4> I am a dog sitter!</h4>
            {% endif %}
            <h4>I am looking for a dog sitter</h4>
            <h4> A little about me: </h4>
            <p>{{user.profile.bio}}</p>
    </div>
        </div>
</div>

{% if user.dog_set.exists %}
{% for dog in user.dog_set.all %}
        <div class="activities">
        <div>
            <img class="activity" src="{{ user.profile.image.url }}"">
            <h4 class="explore"><a href="{% url 'dog_profile' dog.pk %}">{{dog}}</h4></a>
            <p class="explore"> {{dog.breed}} </p>
        </div>
                {% endfor %}
            {% endif %}

{%block content %}
<div class = "profile_info">
    <h1>{{profile.user.first_name}} {{profile.user.last_name}}</h1>
    <img class="profile_pic" src="{{ profile.image.url }}" alt="Profile Picture">
    <h3> About </h3>
    <h4> I am located in: {{profile.location}} </h4>
    <h4>I charge: {{profile.cost}} per day</h4>
    {% if profile.is_dog_sitter %}
        <h4> I am a dog sitter!</h4>
    {% endif %}
    <h4>I am looking for a dog sitter</h4>
    <h4> A little about me: </h4>
    <p>{{profile.bio}}</p>
    {% if profile.user.dog_set.exists %}
        <p>My Dogs: </p>
        {% for dog in profile.user.dog_set.all %}
            <ul><a href="{% url 'dog_profile' dog.pk %}"> {{dog}} </a> </ul>
        {% endfor %}
    {% else %}
        <p>I do not have a dog</p>

    {% endif %}


{%for dog in profile.user.dog_set.all %}
    {% if dog.is_birthday_today %}
    <h3> Happy Birthday {{dog}} </h3>
{% endif %}
{% endfor %}

{% if profile.user.galleryimage_set.exists %}
    <p> View more pictures: </p>
    <a href="{% url 'view_gallery' profile.pk %}">
        <img class="img-thumbnail gallery_image" alt="View Gallery" src= "{{ profile.user.galleryimage_set.first.image.url }}">
    </a>
{% endif %}

{% if profile.pk == current_user.profile.pk %}
    <h2><a href="{% url 'add_dog' %}"> Create a Profile page for your dog!</a> </h2>
    <p>Update your profile<a href = "{% url 'edit_profile' %}"> here </a></p>
    <p> Add photos to your photo gallery <a href="{% url 'add_images' %}">here</a></p>
{% endif %}


{% endblock %}
