{% extends 'base.html' %}

{% block extra_css%}

.gallery-images {
    margin-top: 15px;
}

{% endblock %}

{% block content %}

{% if dog.doggalleryimage_set.exists %}
    {% for doggalleryimage in dog.doggalleryimage_set.all %}
        <div class="col-lg gallery-images">
            <div class="text-center mt-2">
                <img src="{{ doggalleryimage.image.url }}" class="img-thumbnail" alt="...">
            </div>
        </div>
    {% endfor %}
{% else %}
<p>No more pictures yet....</p>
{% endif %}

<div class="footer">
    <a href="{% url 'dog_profile' dog.pk %}">
        <button class="top-buttons"> Back to Profile </button>
    </a>
</div>

{% endblock %}